

<%= simple_form_for [@unit, @project] do |f| %>
  <div class="form-group">
    <%= f.input :name, { class: "form-control" } %>
  </div>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
