<h1>Projects for <%= @unit.name %></h1>

<table>
<thead>
	<tr><th>Name</th><th>Description</th><th></th></tr>
</thead>

<tbody>

</tbody>

</table>

<%= link_to("add a project", new_unit_project_path) %>